server:
  port: 7777   #内置tomcat启动端口
# DataSource Config
spring:

  #redis
  redis:
    host: 127.0.0.1 #地址
    port: 6379 #端口
    password: 123456 #密码

  #mysql配置
  datasource:
    #type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver #驱动
    url: jdbc:mysql://localhost:3306/oa?useUnicode=true&useSSL=false&characterEncoding=utf8&serverTimezone=Asia/Shanghai #链接地址
    username: root  #用户名
    password: 123456 #密码

mybatis-plus:
  mapper-locations: classpath*:/mapper/**Mapper.xml
  #xml文件对应的实体类的类型别名
  type-aliases-package: com.yz.oa.entity

yz:
  jwt:
    header: Authorization  #头部
    expire: 604800 #失效时间
    secret: ji8n3439n439n43ld9ne9343fdfer49h #秘钥

